<h1>User Login</h1>

<% if @error %>
  <p class='error_message'><%= @error %></p>
<% end  %>

<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :password %>:
  <%= f.password_field :password %><br />

  <%= f.submit "Login" %>
<% end %>
