<h2> Add New Pitch: </h2>

<% if @pitch.errors.any? %>
    <ul class="animated swing error_message">
      <% @pitch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>

<div class="container form-container">
<%= form_for :pitch, url: {action: "create"} do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit 'Submit Pitch', :class => "waves-effect waves-light btn #00acc1 cyan darken-1" %>
  </p>

<% end %>
</div>
