<h1>New User Registration</h1>

<% if @user.errors.any?  %>
  <ul class="animated swing error_message">
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end  %>

<div class="container form-container">
<%= form_for @user do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :password %>:
  <%= f.password_field :password %><br />

  <%= label_tag "Key" %>:
  <%= text_field_tag "key" %><br />

  <%= f.check_box :admin %>
  <%= f.label :admin %><br />

  <br>

  <%= f.submit 'Create Account', :class => "waves-effect waves-light btn #00acc1 cyan darken-1" %>
<% end %>
</div>


