<h1>New User Registration</h1>

<% if @user.errors.any?  %>
  <ul>
    <% @user.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
<% end  %>

<%= form_for @user do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :email %>:
  <%= f.text_field :email %><br />

  <%= f.label :password %>:
  <%= f.password_field :password %><br />

  <%= label_tag "Key" %>:
  <%= text_field_tag "key" %><br />

  <%= f.label :admin %>
  <%= f.check_box :admin %><br />

  <%= f.submit %>
<% end %>
