<h2> Welcome to your dashboard, <%=@user.name %>! </h2>


<h3> Current Pitches: </h3>
<% @pitches.each do |pitch| %>
  <ul>
    <li><%= link_to pitch.title, pitch_path(pitch.id) %> by <%= pitch.student.name %> (Vote Count: <%= pitch.votes.count %>)</li>
    <strong><%= link_to 'Advance to Round 2', pitch_path(pitch), method: :put, data: { confirm: 'Are you sure you want to advance this project?' } %></strong>
  </ul>
<% end %>
